::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#excel {
  height: 70vh;
  overflow: scroll;
  width: 95%;
  border: 1px solid black;
  margin: 0px auto;

  table {
    tr {
      td {
        padding: 0px 5px;
        margin: 0;
        white-space: nowrap;
        text-align: left;
      }
    }

    thead {
      background: #888;
      color: #fff;
      tr {
        td {
          border: 1px solid white;
          text-align: left;
        }
      }
    }

    tbody {
      tr {
        td {
          border: 1px solid black;
        }
      }
    }
  }
}
